name: Sanity Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci --audit

      - name: Audit signatures
        run: npm audit signatures

      - name: Build development version
        run: npm run build:devel

      - name: Run linter
        run: npm run lint

      - name: Assert correct formatting
        run: |
          npm run format:fix
          if [[ -n $(git status -s) ]] ; then
             echo "Badly formatted code. Running 'npm run format:fix' leaves repository in a modified state."
             git status -s
             git diff
             exit 1
          fi

      - name: Build release version
        run: npm run build:release
